.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 450px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  color: #c4c4c4;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--text-secondary-color);
}

.links a {
  text-decoration: none;
  color: var(--primary-color);
}

.error {
  color: red;
  font-weight: 600;
  font-size: 18px;
}
