.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border-left: 1px solid var(--separator-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
